# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules
yarn.lock

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

*.tgz
packages/**/angular/dist
packages/**/DerivedData

packages/**/native-src/mason-ios/**/xcuserdata/
packages/**/native-src/mason-ios/**/project.xcworkspace/
packages/**/native-src/mason-ios/**/build


/target
/**/*.rs.bk
/Cargo.lock
*.xcuserstate
packages/nativescript-masonkit/src-native/mason-ios/Mason/Mason.xcodeproj/xcuserdata/nstudio.xcuserdatad/xcschemes/xcschememanagement.plist

.nx/cache
.nx/workspace-data