@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-repeat {
  background: red;
}


/* .bg-repeat {
  background: left 5% / 15% 60% repeat-x url('https://d78af7b0-82e5-4390-93c4-bba28463aa0f.mdnplay.dev/shared-assets/images/examples/star.png');
} */

.bg-url {
  background: no-repeat url('https://d78af7b0-82e5-4390-93c4-bba28463aa0f.mdnplay.dev/shared-assets/images/examples/lizard.png');
}

/* .wrapper {
    display: grid;
    grid-gap: 10;
    grid-template-columns: 100 100 100;
    background-color: #fff;
    color: #444;
  }

  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5;
    padding: 20;
    font-size: 150%;
  }

  .a {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .b {
    grid-column: 3 ;
    grid-row: 1 / 3;
  }
  .c {
    grid-column: 1 ;
    grid-row: 2 ;
  }
  .d {
    grid-column: 2;
    grid-row: 2;
  } */




.box {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: red;
  color: white;
}

#two {
  position: absolute;
  top: 20px;
  left: 20px;
  background: blue;
}

