@tailwind base;
@tailwind components;
@tailwind utilities;

/* .wrapper {
    display: grid;
    grid-gap: 10;
    grid-template-columns: 100 100 100;
    background-color: #fff;
    color: #444;
  }

  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5;
    padding: 20;
    font-size: 150%;
  }

  .a {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .b {
    grid-column: 3 ;
    grid-row: 1 / 3;
  }
  .c {
    grid-column: 1 ;
    grid-row: 2 ;
  }
  .d {
    grid-column: 2;
    grid-row: 2;
  } */