@import 'nativescript-theme-core/scss/light';
@import 'nativescript-theme-core/scss/index';

.action-bar {
  font-size: 100%;
}

.flex-example {
  display: flex;
  flex-direction: column;
  background-color: black;

  .a {
    font-size: 30;
    align-content: center;
    justify-content: center;
    width: 100;
    height: 100;
    flex-direction: row;
    background-color: red;
    color: blue;
  }

  .b {
    font-size: 30;
    align-content: center;
    justify-content: center;
    width: 100;
    height: 100;
    flex-direction: row;
    background-color: blue;
    color: red;
  }
}

.body {
  margin: 40;
}

.grid-example {
  display: grid;
}

.wrapper-5 {
  display: grid;
  gap: 10;
  grid-template-columns: 100 100 100;
  background-color: #fff;
  color: #444;

  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5;
    padding: 20;

    &.a {
      grid-column: 1 / 3;
      grid-row: 1;
    }
    &.b {
      grid-column: 3;
      grid-row: 1 / 3;
    }
    &.c {
      grid-column: 1;
      grid-row: 2;
    }
    &.d {
      grid-column: 2;
      grid-row: 2;
    }
  }
}

.wrapper-6 {
  display: grid;
  background: no-repeat url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/12005/grid.png);
  gap: 10px;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(4, 150px);
  background-color: #fff;
  color: #444;

  .box {
    border-width: 1px;
    border-color: #444;
    padding: 20px;

    &.a {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
      align-self: stretch;
    }

    &.b {
      grid-column: 3 / 5;
      grid-row: 1 / 3;
      align-self: end;
    }

    &.c {
      grid-column: 1 / 3;
      grid-row: 3 / 6;
      align-self: start;
    }

    &.d {
      grid-column: 3 / 5;
      grid-row: 3 / 6;
      align-self: center;
    }

    &.e {
      grid-column: 5 / 7;
      grid-row: 1 / 6;
      align-self: stretch;
    }
  }
}

.sidebar {
  grid-area: sidebar;
}

.sidebar2 {
  grid-area: sidebar2;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
  background-color: #fff;
  color: #444;
}

.wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    'header'
    'sidebar'
    'content'
    'sidebar2'
    'footer';
}

@media only screen and (min-width: 500px) {
  .wrapper {
    grid-template-columns: 20% auto;
    grid-template-areas:
      'header   header'
      'sidebar  content'
      'sidebar2 sidebar2'
      'footer   footer';
  }
}

@media only screen and (min-width: 600px) {
  .wrapper {
    grid-gap: 20px;
    grid-template-columns: 120px auto 120px;
    grid-template-areas:
      'header  header  header'
      'sidebar content sidebar2'
      'footer  footer  footer';
    // max-width: 600px;
  }
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.header,
.footer {
  background-color: #999;
}

.sidebar2 {
  background-color: #ccc;
  color: #444;
}
