@import 'nativescript-theme-core/scss/light';
@import 'nativescript-theme-core/scss/index';

.flex-example {
  display: flex;
  flex-direction: column;
  background-color: black;

  .a {
    font-size: 30;
    align-content: center;
    justify-content: center;
    width: 100;
    height: 100;
    flex-direction: row;
    background-color: red;
    color: blue;
  }

  .b {
    font-size: 30;
    align-content: center;
    justify-content: center;
    width: 100;
    height: 100;
    flex-direction: row;
    background-color: blue;
    color: red;
  }
}

.grid-example {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  .a {
    grid-area: 1 / 1 / 2 / 2;
  }
  .b {
    grid-area: 1 / 3 / 2 / 4;
  }
  .c {
    grid-area: 1 / 5 / 2 / 6;
  }
  .d {
    grid-area: 3 / 3 / 4 / 4;
  }
  .e {
    grid-area: 5 / 1 / 6 / 2;
  }
  .f {
    grid-area: 5 / 5 / 6 / 6;
  }
}

.wrapper-5 {
  display: grid;
  grid-gap: 10;
  grid-template-columns: 100 100 100;
  background-color: #fff;
  color: #444;

  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    // font-size: 150%;

    &.a {
      grid-column: 1 / 3;
      grid-row: 1;
    }
    &.b {
      grid-column: 3;
      grid-row: 1 / 3;
    }
    &.c {
      grid-column: 1;
      grid-row: 2;
    }
    &.d {
      grid-column: 2;
      grid-row: 2;
    }
  }
}

.wrapper-6 {
  display: grid;
  background: no-repeat url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/12005/grid.png);
  grid-gap: 10px;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(4, 150px);
  background-color: #fff;
  color: #444;

  .box {
    border: 1px solid #444;
    padding: 20px;
    // font-size: 150%;

    &.a {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
      align-self: stretch;
      background-color: red;
    }

    &.b {
      grid-column: 3 / 5;
      grid-row: 1 / 3;
      align-self: end;
      background-color: gold;
    }

    &.c {
      grid-column: 1 / 3;
      grid-row: 3 / 6;
      align-self: start;
    }

    &.d {
      grid-column: 3 / 5;
      grid-row: 3 / 6;
      align-self: center;
    }

    &.e {
      grid-column: 5 / 7;
      grid-row: 1 / 6;
      align-self: stretch;
    }
  }
}
